@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?39056798');
  src: url('../font/fontello.eot?39056798#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?39056798') format('woff2'),
       url('../font/fontello.woff?39056798') format('woff'),
       url('../font/fontello.ttf?39056798') format('truetype'),
       url('../font/fontello.svg?39056798#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{margin: 0; padding: 0;}
a{text-decoration: none; }
li{list-style: none;}
body{font-family: 'Nanum Gothic', sans-serif; position: relative;}
button{border: none; background: 0; cursor: pointer;}
.center{max-width: 1100px; position: relative; margin: auto;}
.skip{display: none; position: absolute; text-indent: -9999px; left: -9999px;}
.next-clear, .prev-clear{width: 60px;height: 450px;position: absolute;top: 0;background: #fff;z-index: 1;}
.next-clear{left: 0;}
.prev-clear{right: 0;}
.icon{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sprite{display: inline-block; height: 100px; background-image: url(../images/category_icon.png); background-repeat: no-repeat;}

.sprite.design{width: 100px; background-position: 0 0;}
.sprite.programming{width: 130px; background-position: -100px 0; }
.sprite.contents{width: 130px; background-position: -230px 0;}
.sprite.marketing{width: 100px; background-position: 0 -100px;}
.sprite.counselling{width: 110px; background-position: -110px -100px;}
.sprite.community{width: 110px; background-position: -240px -100px;}

.sprite.facebook{width: 50px; height: 50px; background-position: 0 -200px}
.sprite.naver{width: 50px; height: 50px; background-position: -50px -200px}
.sprite.kakao{width: 50px; height: 50px; background-position: -100px -200px}

.swiper-wrapper{text-align: center;}
.swiper-button-next, .swiper-button-prev{background-image: none; color: #1dbc3c; width: 29px; height: 47px; font-size: 42px; }

@media (max-width:767px) {
  .sprite{display: inline-block; height: 50px; background-image: url(../images/category_icon.png); background-repeat: no-repeat;}

  .sprite.design{width: 50px; background-position: 0 0;}
  .sprite.programming{width: 65px; background-position: -50px 0; }
  .sprite.contents{width: 65px; background-position: -115px 0;}
  .sprite.marketing{width: 50px; background-position: 0 -50px;}
  .sprite.counselling{width: 55px; background-position: -55px -50px;}
  .sprite.community{width: 55px; background-position: -120px -50px;}

}
